.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 2rem;
}

.post {
    max-width: 850px;
    margin: 5rem auto 0;

    img {
        display:block;
        margin-left: auto;
        margin-right: auto;;

        width: 100%;
        max-width: 450px;
        height: auto;
    }

    h1 {
        text-align: center;
        font-size: 3.5rem;
        font-family: 'MorganiteBlack';
        color: #141412;
    }

    time {
        display: block;
        text-align: center;
        font-size: 1rem;
        margin-top: 1.5rem;
        color: #141412;
    }

    .postContent{
        margin-top: 2rem;
        line-height: 2rem;
        font-size: 1.225rem;
        font-family: 'MyriadPro';
        color: #141412;
        text-align: justify;
        p, ul {
            margin: 1.5rem 0; 
        }

        ul {
            padding-left: 1.5rem;

            li {
                margin: 0.5rem 0;
            }
        }

    }
    .author {
        color: #141412;
        font-family: 'MyriadPro';
        font-size: 1rem;
        text-decoration: underline;
        margin-bottom: 20px;
    }
    
}

.arrow {
    color: var(--red-700);
    font-size: 1.5rem;
    position: fixed;
    right: 10px;
    bottom: 10px;
}

