@font-face {
    font-family: 'MyriadPro';
    src: local('MyriadPro');
    src: url('../fonts/MYRIADPRO-REGULAR.otf');

    font-family: 'MorganiteExtraBold';
    src: local('MorganiteExtraBold');
    src: url('../fonts/Morganite-ExtraBold.ttf');

    font-family: 'MorganiteBold';
    src: local('MorganiteBold');
    src: url('../fonts/Morganite-Bold.ttf');

    font-family: 'MorganiteBlack';
    src: local('MorganiteBlack');
    src: url('../fonts/Morganite-Black.ttf');

}