@font-face {
    font-family: 'MyriadPro';
    src: local('MyriadPro'),
    url('../fonts/MYRIADPRO-REGULAR.otf');

    font-family: 'MorganiteExtraBold';
    src: local('MorganiteExtraBold'),
    url('../fonts/Morganite-ExtraBold.ttf');

    font-family: 'MorganiteBold';
    src: local('MorganiteBold'),
    url('../fonts/Morganite-Bold.ttf');

    font-family: 'MorganiteBlack';
    src: local('MorganiteBlack'),
    url('../fonts/Morganite-Black.ttf');

}