* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.scrollable-element {
    scrollbar-color: var(--red-700);
  }

:root{
    --white: #ffffff;
    --dark: #141d26;

    --gray-100: #e1e1e6;
    --gray-150: #f8f8f8;
    --gray-300: #a8a8b3;
    --gray-800: #29292e;
    --gray-850: #232627;
    --gray-900: #121214;

    --red-700: rgb(196, 0, 0);

    --cyan-500: #61dafb;
    --yellow-500: #eba417
}

@media (max-width: 1080px) {
    html {
        font-size: 93.75%;
    }
}



body {
    background: var(--gray-150);
color: var(--white);
}

body.light {
    --background-color: var(--gray-100);
    --text-color: var(--dark);
}

body.dark {
    --background-color: var(--dark);
    --text-color: var(--white);
}

body, input, textarea, select, button {
    font: 400 1rem "Roboto", sans-serif;
}

button {
    cursor: pointer;
}

a {
    color: inherit; //assume a cor do elemento pai
    text-decoration: none; 
}