.card{
    background: #f1f1f1;
    min-height: 420px;
    max-height: 420px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    overflow: hidden;
    box-shadow: 0 2px 20px rgba(0,0,0,0.4);
    border-radius: 5px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
           

    &__image{
        height: 12rem;
        width: 100%;
        object-fit: cover;
    }

    &__time {
        margin: 0 0 5px 5px;
        font-family: "MyriadPro";
        font-size: 0.9rem;
        padding: 3px;
        color: #141412;
    }

    &__span {
        margin: 0 0 5px 5px;
        font-family: "MyriadPro";
        font-size: 0.9rem;
        padding: 3px;
        color: #141412;
        text-align: center;
    }

    &__title {
        margin: 0 0 5px 5px;
        font-family: "Poppins";
        padding: 3px;
        font-size: 1.1rem;
        color: #141412;
    }

    &__description{
        font-family: "MyriadPro";
        font-size: 1rem;
        margin: 7px 0 0 5px;
        padding: 5px;
        color: #141412;

       
     
    }

    &__btn{
        padding: 1rem;
        font-family: inherit;
        font-weight: bold;
        font-size: 1rem;
        margin: 1rem;
        border: 2px solid var(--red-700);
        background: #fff;
        color: var(--red-700)

    }

    &:hover {
        transform:scale(1.03) !important;
    }

    &:hover &__btn{
        background: var(--red-700);
        color: #fff;
    }
}