.footer {
    width: 100%;
    min-height: 160px;
    background-image: linear-gradient(var(--red-700), rgb(140, 0, 0) );
    display: flex;
    justify-content: center;
   
    .boxs {
        max-width: 370px;
        padding: 5px 30px;
     
       h2 {
           color: #f8f8f8;
           font-family: "MorganiteBlack";
               display: flex;
           justify-content: center;
           align-items: center;
       }

       ul li {
          padding: 10px 0;
           list-style: none;
       }

       ul li a {
           font-size: 1.1rem;
           color: #f8f8f8;
           text-decoration: none;
           font-family: "MyriadPro";
           
            display: flex;
           justify-content: center;
           align-items: center;
       }
       ul li a:hover{
           color: #fff;
           text-decoration: underline;
       }

       p {
           margin-top: 10px;
           font-size: 1.030rem;
        text-align: justify;
           font-family: "MyriadPro";
           line-height: 1.150rem;
       }
    }
    
}

@media(max-width: 950px) {
    .footer {
        flex-direction: column;
        align-items: center;

        .boxs {
            width: 100%;
            text-align: center;
            padding: 15px 20px;
        }
    }
}
