

.footer {
width: 100%;
display: flex;
margin-top: 10rem;
border-top: var(--red-700);
height: 5rem;
align-items: center;
justify-content: center;
background-color: var(--red-700);

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
        background: none;
        border: none;
        color: #FFF;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 1.5rem;
        transition: 0.5s;

        &:hover {
            color: #d7d7d7;
        }
    }

    section {
        display: flex;
        align-items: center;
        gap: 1rem;

        svg {
            width: 2rem;
            height: 2rem;
            color: #FFF;
            transition: 0.5s;
            cursor: pointer;

            &:hover {
                color: #d8d8d8;
            }
        }
    }

    @media (max-width: 450px) {
        button {
            font-size: 0.9rem;
        }

         section {
            gap: 0.5rem;
            svg {
                width: 1.5rem;
                height: 1.5rem;
            }
        }

    }
}
}
